<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Your Children - The Book For Your Child</title>
    <link rel="stylesheet" href="../static/css/setting-child-info.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <!-- Navigation Buttons -->
    <div class="top-right-buttons">
        <span class="material-icons" id="profile-icon" style="cursor: pointer;">account_circle</span>
    </div>

    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <span class="material-icons close-btn" id="close-sidebar">close</span>
            <h2 id="user-name">User Name</h2>
        </div>
        <div class="sidebar-menu">
            <a href="/setting/stchildinfo"><span class="material-icons">child_friendly</span> Child Info</a>
            <a id="sidebar-logout-btn"><span class="material-icons">logout</span> Logout</a>
        </div>
    </div>

    <div id="overlay" class="overlay" style="display: none;"></div>

    <!-- Header Section -->
    <header class="hero">
        <div class="hero-content">
            <a href="/"><img src="../static/images/logo.png" alt="Storybook Logo" class="logo"></a>
            <h1>Your Children</h1>
        </div>
    </header>

    <!-- Child List Section -->
    <section id="child-list-section" class="section">
        <div class="child-list-container">
            <div id="child-list">
            </div>
            <div id="no-children-message" class="no-children-message">
                <a href="/setting/stchildadd" class="btn add-child-btn">Add Child Info</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2024 The Book For Your Child. All Rights Reserved.</p>
    </footer>

    <!-- JavaScript -->
    <script src="../static/js/setting/setting-child-util.js"></script>
    <script src="../static/js/onboarding/logout_post.js"></script>
</body>
</html>
